# IDE
*.iws
.idea/workspace.xml

/target
Cargo.lock
/python/target/

# We include param data so CI can publish to Pypi.
#/param_data

# CUDA
*.exe
*.exp
#*.lib
*.ptx

.claude/
.DS_Store


# Molecular formats
*.pdb
*.cif
*.bcif
*.gz
*.sdf
*.mol2
*.pdbqt
*.mtz
*.map
#*.frcmod
#*.dat
#*.ff19SB
*.opc
#*.OL24
*.dcd

# ML models
*.pt
#*.safetensors
#*.vocab